/*		Clases generales 	*/
body {
	background-color: #EFEFEF;
	font-size: 20px;
	position: relative;
}
.contenedor {
	padding: 10px 20px;
	max-width: 1024px;
	margin: 0 auto;
}
.contenedor h2 {
	font-size: 1.8em;
	text-align: left;
}
h1,h2,h3,h4,h4 {
	font-family: 'Poiret One', cursive;
	letter-spacing: 2px;
}
h4 {
	font-size: 1.1em;
}
p, li, a, span {
	font-family: 'Signika', sans-serif;
}

.btn {
	border: 1px solid white;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	transition: .4s;
}
	.btn:hover {
		background: white;
		color: black;
	}
	.btn.chico {
		width: 100px;
	}
	.btn.grande {
	}

.modal {
	color: #5F5F5F;
}
	.modal img {
		width: 100%;
	}

.contenido-centrado {
	text-align: center;
}
