/** Cabecera **/
.cabecera {
    font-weight: lighter;
    position: relative;
    min-height: 500px;
    overflow: hidden;
}
  .cabecera .overlay {
    background-image: url('../imagenes/puntos-bg.png');
    height: 100%;
  }
  .cabecera .covervid-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .cabecera video {
    z-index: -1;
  }
  .cabecera .contenedor-cabecera-texto {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .cabecera .fila {
      display: table-row;
  }
  .cabecera h1 {
    color: rgba(255, 255, 255, .8);
    display: table-cell;
    font-size: 4em;
    letter-spacing: 4px;
    vertical-align: middle;
  }
  .cabecera h2 {
      color: rgba(255, 255, 255, .8);
      font-size: 1.5em;
      vertical-align: middle;
  }
 .cabecera .titulo {
     height: 90%;
 }
 .cabecera .subtitulo {
     height: 10%;
 }
/** Fin Cabecera **/

/** Panel Quienes Somos **/
    .panel-quienes-somos {
        background: url('../imagenes/quienes-somos-bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: white;
        min-height: 500px;
        text-align: left;
    }
    .panel-quienes-somos p, li {
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 1.4em;
    }
/** Fin Panel Quienes Somos **/

/** Panel Carrusel **/
/* Esta todo customizado. Ver archivo css del plugin */
.bxslider {
    color: white;
}
    .bxslider .contenedor {
        background: url('../imagenes/puntos-bg.png'), rgba(0,0,0,.1);
        margin-top: 1em;
    }
/** Fin Panel Carrusel **/

/** Panel Ofertas **/
.panel-ofertas {
	background: url('../imagenes/productos-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  .panel-ofertas .contenedor-tarjetas{
    border-spacing: 20px;
    display: table;
    width: 100%;
  }
  .panel-ofertas .fila-tarjetas {
    display: table-row;
  }
  .panel-ofertas .tarjeta {
      box-shadow: 0 5px 6px rgba(0,0,0,.2);
      display: table-cell;
      height: 400px;
      position: relative;
      overflow: hidden;
      width: 30%;
  }
   .panel-ofertas .tarjeta-detalle-producto-contenedor {
      background: url('../imagenes/puntos-bg.png'), rgba(0,0,0,.5);
      color: white;
      height: 100%;
      left: -100%;
      position: absolute;
      width: 100%;
      transition: .2s;
   }
      .tarjeta-detalle-producto-contenedor .contenedor {
         padding: 0 20px;
      }
   .panel-ofertas .tarjeta-imagen-contenedor {
      height: 100%;
      position: absolute;
      transition: .5s;
      width: 100%;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-1 {
      background: url('../imagenes/producto-1.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-2 {
      background: url('../imagenes/producto-2.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-3 {
      background: url('../imagenes/producto-3.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-4 {
      background: url('../imagenes/producto-4.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-5 {
      background: url('../imagenes/producto-5.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-6 {
      background: url('../imagenes/producto-6.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-7 {
      background: url('../imagenes/producto-7.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-8 {
      background: url('../imagenes/producto-8.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .panel-ofertas .tarjeta-imagen-contenedor.producto-9 {
      background: url('../imagenes/producto-9.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
  .panel-ofertas .tarjeta-titulo {
     color: white;
      padding: 0 20px;
      position: relative;
   }

/** Fin Panel Ofertas **/

/** Panel Contactanos **/
.panel-contacto {

}
    .panel-contacto form {
        max-width: 1024px;
        margin: 0 auto;
    }
    .panel-contacto .contenedor-control {
        text-align: center;
        margin: .5em 0;
    }
    .panel-contacto input {
        border: 2px solid black;
        line-height: 2em;
        text-indent: .5em;
        width: 80%;
    }
    .panel-contacto button {
        border: 1px solid black;
        padding: 8px 16px;
    }
    .panel-contacto button:hover {
        color: navy;
    }
/** Fin Panel Contactanos **/

/** Footer **/
.pie-de-pagina {
	background: url('../imagenes/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top: 6px solid #3C61A0;
    color: silver;
    display: table;
    min-height: 150px;
    text-align: center;
    width: 100%;
}
    .pie-de-pagina p {
        display: table-cell;
        vertical-align: middle;
    }
/** Fin Footer **/

/** Ir arriba boton **/
#irArriba {
    color: rgba(255,255,255,.8);
    font-size: 1.9em;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    position: fixed;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray; /* Estilizando el borde de un caracter */
}
/** Fin Ir arriba boton **/
