.cabecera {
  position: relative;
  min-height: 500px;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel-quienes-somos {
	background: brown;
}

.panel-ofertas {
	background: deeppink;
}
	.panel-ofertas .ofertas-tarjeta {
		background: yellow;
		border: 1px solid black;
		text-align: center;
	}
	.panel-ofertas .ofertas-tarjeta img {
		width: 100%;
	}

.pie-de-pagina {
	background: violet;
}
