@media screen and (max-width: 1024px) {
   .panel-ofertas {

   }
      .panel-ofertas .fila-tarjetas {
         display: block;
      }
      .panel-ofertas .tarjeta {
         display: block;
         margin-bottom: 15px;
         width: 100%;
      }
      .panel-ofertas .tarjeta-detalle-producto-contenedor {
         left: 0;
      }
      .panel-ofertas .tarjeta-detalle-producto-contenedor p{
          font-size: .8em;
          margin: .4em 0;
      }
      /* Para evitar que se corte el texto del carrusel*/
      .bxslider li {
          height: 130vh !important;
      }
    .panel-contacto .dos-en-linea input {
        width: 100%;
        margin: .2em 0;
    }
}
